@model IEnumerable<SocialMedia.WebApp.Models.PostVM>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="~/css/post_style.css" />

<h1>Posts</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
    <p>
        <a asp-controller="Account" asp-action="Login">Zaloguj się</a> aby dodać post
    </p>
}




@foreach (var item in Model)
{
    string photoPath = "~/images/" + (item.PhotoPath ?? "noimage.jpg");
    string dateFormated = item.Time.ToString("M") + ", " + item.Time.ToString("t");

<div class="post">
    <div class="post-title">
        @Html.DisplayFor(modelItem => item.Title)
    </div>
    <div class="post-time">
        @dateFormated
    </div>
    <div class="post-author">
        @Html.DisplayFor(modelItem => item.Author)
    </div>

    @if (User.IsInRole("admin") || User.IsInRole("moderator"))  @* To modify posts you need to be at least moderator *@
    {
        <div class="post-edit">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </div>
    }
    @if (item.Author == User.Identity.Name || User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <div class="post-delete">
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    }

    <img class="post-image" src="@photoPath" asp-append-version="true" />
</div>
}
